@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
$maincolor: 	#36393e;
$mainhover:#222222;
$secondaryhover: #bbbbbb;
$secondarycolor: white;
$formhover: #eeeeee;
* {
    box-sizing: border-box;
    color: $secondarycolor;
    background-color: $maincolor;
    font-family: 'Open Sans', 'sans-serif';
    outline: none;
    font-size: 15px;
  }
  h1{font-size: 25px;}
  .entireIngredient{
    border: 5px solid $maincolor;
    box-shadow: 0px 0px 2px 2px $secondarycolor;
    background-color: $maincolor;
    margin: 20px 5px 20px 5px;
  }
 .form-elem{
      width: 96%;
      margin: 2%;
    display: block;
  }
  input{
    background-color: $secondarycolor;
    color: $maincolor;
    &:hover{
        background-color: $formhover;
    }}
  #addIngredient{
    box-shadow: 0px 0px 2px 2px $secondarycolor;
    background-color: $secondarycolor;
    color: $maincolor;
    border: none;
    margin: 5px;
    padding: 5px;
    &:hover{
        background-color: $secondaryhover;
        box-shadow:  0px 0px 2px 2px$secondaryhover;

    }
  }
  .exit{
    justify-self: center;
    align-self: center;
    box-shadow: inset 0px 0px 1px 1px, 0px 0px 1px 1px;
    border: none;
    height: 30px; 
    width: 30px;
    line-height: 15px;
    &:hover{
        background-color: $mainhover;
    }
}
  @media screen and (min-width: 1100px){
    * {
        box-sizing: border-box;
        color: $secondarycolor;
        background-color: $maincolor;
        font-size: 20px;
        font-family: 'Open Sans', 'sans-serif';
        outline: none;
      }
      h1{
          font-family: 'Roboto', 'sans-serif';
          font-size: 50px;
          margin: 5px;
      }
    
      form{
          display: block;
          background-color: $maincolor;
      }
      #userAddedElems{
          flex: 60%;
          *{
              width: 70%;
          }
      }
      .entireIngredient{
          flex-basis: 50%;
          width: 90%;
          margin: 20px 5% 20px 5%;
          padding: 20px;
          display: grid;
          grid-template-columns: .5fr 1fr 1fr 1fr .1fr;
          grid-template-rows: auto auto;
          border: 3px solid $secondarycolor;
          box-shadow: 0px 0px 5px 5px $secondarycolor;
      }
      .entireIngredient{
          *{
          width: 30%;
          min-width: 100px;
          margin: 5px;
          padding: 2px;
          height: auto;
          
      }
      .exit{
            justify-self: center;
            align-self: center;
            box-shadow: inset 0px 0px 2px 2px, 0px 0px 2px 2px;
            border: none;
            height: 50px; 
            line-height: 25px;
          width: 50px;
        }
    }
      input{
          background-color: $secondarycolor;
          color: $maincolor;
          padding: 0px;
          margin: 3px;
      }
      
      #addIngredient{
          color: $maincolor;
          display: block;
          padding: 20px;
          margin: 5%;
          box-shadow: 0px 0px 5px 5px $secondarycolor;
        background-color: $secondarycolor;
        border: solid $secondarycolor;
    
      }
      button{
        cursor: pointer;
        &:hover{
          
            background-color: $mainhover;}
      }
      button#addIngredient:hover{
        background-color: $secondaryhover;
        box-shadow: 0px 0px 5px 5px $secondaryhover;
        
        border: solid $secondaryhover;
      }
     
      #totalPremixQuantity{
          position: relative;
      }
     input:hover{
         background-color: $formhover;
     }
      .flex-container{
          display: flex;
          justify-content: space-between;
          flex-direction: horizontal;
          width: 100%;
      }
      
     .totalPremixQuantity{
         min-width: 1000px;
         display: flex;
          padding: 5%;
         div{display: block;}
         #totalPremixQuantity{
             display: block;
         }
     }
  }